<div class="social">
{{ $width := .width }}
{{ $height := .height }}
{{ with .width }}
    {{ $width = . }}
{{ end }}
{{ with .height }}
    {{ $height = . }}
{{ end }}

{{ with .twitter }}
<amp-social-share type="twitter"
width={{ $width }}
height={{ $height }}> </amp-social-share>
{{ end }}
{{ with .gplus }}
    <amp-social-share type="gplus"
                      width={{ $width }}
                      height={{ $height }}></amp-social-share>
{{ end }}
{{ with .email }}
    <amp-social-share type="email"
    width={{ $width }}
    height={{ $height }}></amp-social-share>
{{ end }}
{{ with .pinterest }}
    <amp-social-share type="pinterest"
    width={{ $width }}
    height={{ $height }}></amp-social-share>
{{ end }}
{{ with .linkedin }}
<amp-social-share type="linkedin"
width={{ $width }}
height={{ $height }}></amp-social-share>
{{ end }}
{{ with .facebook }}
    <amp-social-share type="facebook"
    width={{ $width }}
    height={{ $height }}></amp-social-share>
{{ end }}
</div>